@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('/JetBrainsMonoNLNerdFont-Light.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
    --maincolor : #142d4c ;
    --secondarycolor : #385170 ;
    --acsentcolor : #9fd3c7 ;
}


body {
    background-color: var(--maincolor);
    margin: 0;
    padding: 0;
    height: 100;
    width: 100%;
    min-height: 900px;
    font-family: 'JetBrains Mono Nerd Font', monospace;
}

a {
    text-align:end;
    color: white;
    text-decoration: none;
}

span {
    color: var(--acsentcolor);
}

h1{
    display: flex;
    color: white;
    font-size: 50px;
}

p ,h2{
    color: white;
}

.navbar {
    background-color: var(--secondarycolor); /* Dark background color */
    overflow: hidden; /* Clear floats if using float method */
    display: flex; /* Use flexbox for layout */
    justify-content:space-between ; /* Space out logo and links */
    align-items: flex-start; /* Center items vertically */
    padding: 20px 50px;
    float:none;


    position:sticky ;
    top: 0;

}

.nav-links {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 3;
    display: flex; /* Display list items in a row */
}

.nav-links li a {
    color: white; /* White text color */
    text-decoration: none; /* Remove underlines */
    padding: 14px 19px;
    display: block; /* Make links a block element for padding */
}

.nav-links li a:hover {
    background-color: #ddd; /* Change background on hover */
    color: black;
}

/* img {
    padding: 15px 0px;
    align-items: end;
    width: 500px;
    height: auto;
} */

.container {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px ;
    size: 250px;
    height: 50vh;
    /* margin: 20px; */
    
    
}
.biodata {
    flex: 1;
}
.teks{
    /* position:relative ; */
    flex: 1;
    padding: 100px 5px;
    padding-left: 100px;
    padding-right: 100px;
}

.hero {
    align-content: center;
}

.halaman1{
    color: var(--maincolor);
    width: 100%;
    height: 100vh;
    min-height: 800px;
    min-width:400 ;
}
.halaman2{
    background-color: var(--secondarycolor);
    width: 100%;
    height: 100vh;
    min-height: 800px;
    min-width:400 ;
}
.btn {
    background-color: var(--acsentcolor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
}
.btn-custom1:hover{
    box-shadow: 0 0 5px var(--acsentcolor); 
    color: black;
    
 }